.about__container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__subtitle{
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-3);
}

.about__img{
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}


.about__description{
    padding: 0 4rem 0 0;
    margin-bottom: var(--mb-2-5);
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
}

.about__link{
    color: var(--title-color-dark);
    text-decoration: underline;
}

.about__link:hover{
    color: var(--text-color);
    text-decoration: none;
}

/* For large devices */
@media screen and (max-width: 992px) {
    .about__container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }   
    .about_img{
        width: 220px;

    }


    .about__data{
        text-align: center;
    }
    .about__info{
        justify-content: center;
    }
    .about__description{
        padding: .5rem;
        margin-bottom: 2rem;
    }

    

}



@media screen and (max-width: 576px) {
    .about__description{
        padding:0;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {
    
}